<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HDA</title>
    <style>
      body,
      *,
      font {
        font-family: Arial, sans-serif !important;
      }
    </style>
  </head>

  <body style="font-family: Arial; padding: 16px">
    <div style="display: flex; padding-bottom: 16px">
      <!-- Left Flexbox (Square Logo) -->
      <div
        style="
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 16px;
        "
      >
        <img src="./dlsu_logo.png" style="width: 64px; height: 64px" />
      </div>

      <!-- Right Flexbox (3 Rows) -->
      <div
        style="display: flex; flex-direction: column; flex: 1; font-size: small"
      >
        <div
          style="
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: left;
          "
        >
          <b>Help Desk Announcement</b>
        </div>
        <div
          style="
          color: #666;
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: left;
          "
        >
          to
        </div>
        <div
          style="color: #666;
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: left;
          "
        >
          1 minute ago
        </div>
      </div>
    </div>

    <!-- Container for dynamically loaded content -->
    {{{body}}}
  </body>
</html>
